@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    background-color: var(--color-secondary);
    font-family: 'Popins', sans-serif;
}

.container
{
    border: 1px solid var(--color-secondary);
    margin: 0 auto;
    display: grid;
    grid-template-rows: 180px 490px;
    grid-template-columns: 1fr 1fr 1fr;
}

.title_a
{
    grid-row: 1/2;
    grid-column: 2/3;
    background-position-x: 50%;
    background-image: url(../assets/title.png);
    background-color: var(--oi);
    background-repeat: no-repeat;
    transition: 0.5s;
    margin-top: 25px;
    cursor: pointer;
}

.title_a:hover
{
    transform: translateY(-10px);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px var(--shadow-color));
}

#jessie
{
    grid-row: 2/4;
    grid-column: 1/2;
    margin: 5px;
    margin-right: 60px;
    border-radius: 10px;
    background-image: url(../assets/jessie.png);
    background-color: var(--back-color);
    background-repeat: no-repeat;
    background-position-x: 110px;
    transition: 0.5s;
    transition: 0.5s;
}

#jessie:hover
{
    transform: translateY(-15px);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px var(--box-color));
}

h2
{
    background-color: rgb(34, 34, 34);
    grid-row: 2/4;
    grid-column: 2/3;
    margin: 5px;
    color: #fff;
    font-size: 3em;
    text-align: center;
    border: 5px solid var(--color-primary);
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.5s;
}

h2:hover
{
    transform: translateY(-10px);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px var(--shadow-color));
}

span
{
    color: #000;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 7px;
    padding-left: 17px;
    padding-right: 17px; 
    letter-spacing: 1px;
    line-height: 1.4em;
    font-weight: bold;
}

.video1
{
    border: 5px solid var(--color-primary);
    width: 500px;
    height: 282px;
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 5px;
    margin-left: 90px;
    display: flex;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.video1:hover
{
    transform: translateY(-10px);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px var(--shadow-color));
}

.video2
{
    border: 5px solid var(--color-primary);
    width: 500px;
    height: 280.5px;
    background-color: #fff;
    grid-row: 3/4;
    grid-column: 3/4;
    margin: 5px;
    margin-left: 90px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.video2:hover
{
    transform: translateY(-10px);
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px var(--shadow-color));
}

#switch
{   
    position: relative;
    grid-row: 1/2;
    grid-column: 3/4 ;
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-left: 300px;
    top: 37px;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    border: 0;
    border-radius: 100%;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 10px 1px 5px var(--shadow-color);
}

#switch:hover
{
    transform: translateY(-10px);
}

.theme-light
{
    --color-primary: #000;
    --color-secondary: #fff;
    --color-accent: #000;
    --shadow-color: rgba(0,0,0,.5);
    --font-color: #fff;
    --back-color: hsla(52, 100%, 51%, 1);
    --box-color: rgba(0,0,0,.5);
}

.theme-dark
{
    --color-primary: #fff;
    --color-secondary: #000;
    --color-accent: #fff;
    --shadow-color: rgba(248, 242, 242, 0.5);
    --font-color: #000;
    --back-color: #000;
    --box-color: #000;
}

@media screen and (max-width: 768px)
{
    .container
    {
        grid-template-rows: 160px 800px 800px 300px 300px 160px ;
        grid-template-columns: 1fr;
    }

    .title_a
    {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #switch
    {
        grid-row: 6/7;
        grid-column: 1/2;
        margin-left: 310px;
        margin-top: 10px;
    }


    #jessie
    {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 690px;
        background-position-x: 50%;
    }

    h2
    {
        grid-row: 3/4;
        grid-column: 1/2;
        width: 632px;
        margin-top: 25px;
    }

    .video1
    {
        width: 500px;
        height: 282px;
        grid-row: 4/5;
        grid-column: 1/2;
        margin-left: 95px;
        margin-top: 20px;
    }

    .video2
    {
        width: 500px;
        height: 282px;
        grid-row: 5/6;
        grid-column: 1/2;
        margin-left: 95px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px)
{
    .container
    {
        grid-template-rows: 160px 800px 1320px 290px 200px 200px;
        grid-template-columns: 1fr;
    }

    .title_a
    {
        grid-row: 1/2;
        grid-column: 1/2;
        background-position: 0px;
    }

    #switch
    {
        grid-row: 6/7;
        grid-column: 1/2;
        margin-left: 155px;
        margin-top: 30px;
    }

    #jessie
    {
        grid-row: 2/3;
        grid-column: 1/2;
        width: 380px;
        background-position-x: 50%;
    }

    h2
    {
        grid-row: 3/4;
        grid-column: 1/2;
        width: 325px;
        margin-top: 25px;
        font-size: 2.8em;
    }

    .video1
    {
        width: 375px;
        height: 210px;
        grid-row: 4/5;
        margin-left: 5px;
        margin-top: 40px;
    }

    .video2
    {
        width: 375px;
        height: 210px;
        grid-row: 5/6;
        grid-column: 1/2;
        margin-left: 5px;
        margin-top: 0px;
    }
}